<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css" />
        <title class="text-center">Spam Test</title>
</head>

<h1 "p-5">INPUT SOME MESSAGE AND I WILL TELL YOU IF IT RESEMBLES A SPAM TEXT MESSAGE:</h2>
<form class="coolbeans" action='/MMMM_PROCESSING_SPAAM' method="POST" role="form" >
        <div class="form-group">
            <label for="mess">Text message:</label>
            <input id="mess" class="form-control"  type="text" name="mess">
        </div>
        <input class="pb-4" class="btn btn-block btn-primary" type="submit">
</form>

</html>